:root {
  --color-amazon: rgba(52, 121, 98);
  --color-mantis: rgb(125, 186, 108);
  --color-sea-green: rgb(46, 159, 60);
  --color-frost: rgb(240, 246, 226);
  --color-white-rock: rgb(229, 227, 200);
  --color-spicy: rgb(144, 100, 76);
  --color-spicy2: rgb(144, 100, 76, 0.9);
  --color-alternative: rgb(166, 201, 83);
  --color-pink: rgb(248, 158, 148);
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Sofadi One', cursive;
}
body {
  background: url(../public/images/ForestFrame.png) no-repeat center
    center/cover;
  background-color: var(--color-frost);
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: var(--color-amazon);
  color: var(--color-frost);
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  padding: 5px 10px;
  opacity: 0.7;
  transition: opacity ease 0.5s;
}
button:hover {
  opacity: 1;
}

/* WELCOME PAGE */
#welcome-page {
  margin: auto;
  width: 60%;
}
#welcome-page > h1 {
  color: var(--color-amazon);
}
#welcome-page > p {
  color: var(--color-pink);
  font-weight: 500;
  line-height: 1.5rem;
}

/* MAIN CONTENT */
.centered {
  width: 800px;
  text-align: center;
}
#user-interface > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
input {
  color: var(--color-amazon);
  border: #90644c solid 2px;
  border-radius: 5px;
  background-color: var(--color-white-rock);
  text-align: center;
}

#map {
  height: 300px;
  width: 300px;
  animation: 1.5s infinite linear border-animation;
  border-radius: 50%;
}
@keyframes border-animation {
  0% {
    box-shadow: 1px 1px 10px var(--color-mantis),
      -1px -1px 10px var (--color-mantis), -1px 1px 10px var(--color-mantis),
      1px -1px 10px var(--color-mantis);
  }
  50% {
    box-shadow: 2px 2px var(--color-mantis), -2px -2px var(--color-spicy),
      -2px 2px var(--color-mantis), 2px -2px var(--color-mantis);
  }
  100% {
    box-shadow: 1px 1px 10px var(--color-mantis),
      -1px -1px 10px var (--color-mantis), -1px 1px 10px var(--color-mantis),
      1px -1px 10px var(--color-mantis);
  }
}
/* GOOGLE MAPS BUTTONS */
#map a {
  display: none;
}
.gm-svpc,
.gm-control-active.gm-fullscreen-control {
  display: none;
}
.gmnoprint {
  transform: scale(0.6);
}
/* map/satellite button */
.gm-style-mtc {
  transform: translate(100%, 40%);
}
/* +/- button */
.gm-style > div:nth-child(14) > div:first-child > div:nth-child(3) {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(100%, -100%);
}

/* PREVIEW */
#plant-preview-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.plant-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.plant-preview img {
  border: var(--color-amazon) solid 3px;
  border-radius: 15px;
  width: 92px;
  height: auto;
}
.plant-preview p {
  color: var(--color-amazon);
  font-weight: bold;
}
.display-on-map {
  background-color: var(--color-pink);
}

/* ERROR-INFO */
.info {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: var(--color-spicy2);
  text-align: center;
  color: azure;
  padding: 20px;
  border-radius: 10px;
}
.display-block {
  display: block;
}
#open-info-button {
  display: block;
}
