:root {
  --color-amazon: rgba(52, 121, 98);
  --color-mantis: rgb(125, 186, 108);
  --color-sea-green: rgb(46, 159, 60);
  --color-frost: rgb(240, 246, 226);
  --color-white-rock: rgb(229, 227, 200);
  --color-spicy: #90644c;
  --color-alternative: rgb(166, 201, 83);
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#user-interface > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#map {
  height: 300px;
  width: 100%;
  border: red solid 1px;
  border-radius: 10%;
}

.gm-svpc {
  display: none;
}

#plant-preview-container {
  background-color: var(--color-alternative);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.plant-preview {
  flex: 1;
  border: #90644c solid 1px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.info {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: var(--color-frost);
}
.display-block {
  display: block;
}
#open-info-button {
  display: block;
}
